@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    background: green;
    display: flex;
}

.header {
    background: black;
    width: 1400px;
    height: 70px;
    margin: auto;
    padding: 0;
    margin-top: 0;
    position: relative;
    
}


#header-logo
{
margin-left: 150px;
margin-top: 20px;
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 23px;
    margin-right: 150px;
}

#navbar a {
opacity: 0.69;
font-family: 'Open Sans';
font-size: 14px;
line-height: 1.2;
font-weight: 600;
color: #ffffff;
text-decoration: none;
    }

#navbar li {
    margin: auto;
    padding: 22px; 
    display: inline;
    margin-right: 5px;
    
}