@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --orange: #ff8b38;
    --black: #000;
    --d-brown: #212121;
    --grey: #9a9a9a;


}
body {
    background: green;
}

.header {
    background: var(--black);
    max-width: 1400px;
    height: 70px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between ;
    
}


#header-logo
{
margin-left: 150px;
margin-top: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 22px;
    margin-right: 150px;
}

.nav-link {
opacity: 0.69;
font-family: 'Open Sans';
font-size: 14px;
line-height: 1.2;
font-weight: 600;
color: #ffffff;
text-decoration: none;
transition: .2s ease color;

    }

    .nav-link:hover {
color: var(--orange)
    }

.nav-item {
    margin-left: 48px; 
    list-style-type: none;
    
}

.wrapper {
max-width:1400px;
height: 700px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;
background-color: var(--grey) ;
}

.main {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.image1 {
    margin-top: 50;
    left: 50px;
}
.main-img {
    width: 175px;
    height: 60px;
}

.main-text {
    position: relative;
    top:150px;
    right:176px;
    max-height: 320px;
}

.main-text__title {
    font-family: Raleway;
font-size: 36px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;
}

.main-text__description {
    opacity: 0.8;
font-family: Raleway;
font-size: 16px;
line-height: 23px;
font-weight: 300;
color: #ffffff;
}